body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fefae0;
  color: #283618;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 75px;
  width: 100%;
  background-color: #606c38;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

ul {
  display: flex;
  margin-top: 15px;
  list-style: none;
  gap: 2rem;
  padding-right: 10px;
}

a{
  font-weight: bold;
  text-decoration: none;
  color: #283618;
}

#aboutPage {
  margin-left: auto;
  padding-right: 30px;
}

header {
  margin-top: 80px;
  text-align: center;
}

header > p {
  font-style: italic;
}

main{
    width: 50%;
    margin: auto;
    background-color: #DDA15E;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Had help with the card styling from ChatGPT. */
.cardContainer{
    display: flex;
    flex-direction: row;
}

.card{
    width: 300px;
    margin: 20px;
    border: 1px solid #283618;
    border-radius: 8px;
    overflow: hidden;
    background-color: #606c38;
}

.cardImage{
    width: 100%;
    height: 300px;
}

.cardText{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.petStats{
  width: 100%;
  text-align: center;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 20px;
  width: 100%;
  margin-top: 150px;
  background-color: #606c38;
}