body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fefae0;
  color: #283618;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 75px;
  width: 100%;
  background-color: #606c38;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

ul {
  display: flex;
  margin-top: 15px;
  list-style: none;
  gap: 2rem;
  padding-right: 10px;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #283618;
}

#aboutPage {
  margin-left: auto;
  padding-right: 30px;
}

header {
  margin-top: 80px;
  text-align: center;
}

header > p {
  font-style: italic;
}

main {
  width: 50%;
  margin: auto;
  background-color: #dda15e;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Had help with the card styling from ChatGPT. */
.cardContainer {
  display: flex;
  flex-direction: row;
}

.card {
  width: 300px;
  margin: 20px;
  border: 1px solid #283618;
  border-radius: 8px;
  overflow: hidden;
  background-color: #606c38;
}

.cardImage {
  width: 100%;
  height: 300px;
}

.cardText {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.petStats {
  width: 100%;
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
  width: 100%;
  margin-top: 150px;
  background-color: #606c38;
}

.background-container{
    width: 100%;
    height: 100%;
    border: 2px solid black;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    overflow: auto;
    padding: 50px;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.responsive-background{
background: url('https://images.unsplash.com/photo-1553322396-0c9cd410975e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
no-repeat center center;
background-size: 100% auto;
}